* {
    margin: 2px
}

body{
    font-size: 24px;
    color:white;
    height: 100vh;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.flex-header{
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: gold;
}

.flex-main{
    display: flex;
    flex:1;
}

.flex-nav{
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding-top: 3rem;
    flex: 1 1 5rem;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: gold;
}

.flex-article{
    padding-top: 3rem;
    margin-left: 25%;
    flex: 3 3;
}
.flex-aside{
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding-top: 3rem;
    flex: 1 1 5rem;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: gold;
}


.flex-footer{
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: gold;

}

@media all and (max-width: 540px){
    .flex-main{
        flex-direction: column;
    }
}

.wordWrapper {
    display: flex;
    margin-top: 100px;
    flex-flow: column;
    height: 100%;
    margin-bottom: 0px;
}


.instruction {
    display: flex;
    margin-bottom: 100px;
    height: 35%;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.letter_length_select {
    display: inline;
    align-items:start;
    padding-left: 50px;
    margin: 70px, 70px,70px;
    margin-top: 70px;
    margin-right: 70px;
    margin-left:70px;
    margin-bottom: 20px;
    margin-bottom: 50px;
   
}

.letter_box {
    display: inline;
    align-items: center;
    padding-left: 50px;
    margin-top: 20px;
    margin-right: 70px;
    margin-left:70px;
    margin-bottom: 20px;
  
}

.definitions {
    margin-bottom: 50px;
}


.text_display {
    color:black;
}

.text_nodisplay {
    color:transparent;
}

.letter_input {
    max-width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: pink;
}

.letter_hidden {
    color: transparent;
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}

.letter_visible {
    color: black;
}

.gameButtonBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hintList{
    text-align: left;
    color: black;
    font-size:large;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  ul {
    list-style-type: none;
  }
  
  ul li a {
    text-decoration: none;
  }

