#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app {
    display: flex;
    height: 100vh; /* Use the full height of the viewport */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.app {
    display: flex;
    justify-content: space-between;
}

/* src/App.css */
.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 200px;
  
    height: 100vh;
  }

header {
    grid-area: header;
  }
  
  nav {
    grid-area: nav;
    margin-left: 0.5rem;
  }
  
  main {
    grid-area: content;
  }
  
  aside {
    grid-area: side;
    margin-right: 0.5rem;
  }
  
  footer {
    grid-area: footer;
  }

.wordWrapper {
    display: flex;
    margin-top: 100px;
    flex-flow: column;
    height: 100%;
    margin-bottom: 0px;
}


.instruction {
    display: flex;
    margin-bottom: 100px;
    height: 35%;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.letter_length_select {
    display: inline;
    align-items:start;
    padding-left: 50px;
    margin: 70px, 70px,70px;
    margin-top: 70px;
    margin-right: 70px;
    margin-left:70px;
    margin-bottom: 20px;
    margin-bottom: 50px;
   
}

.letter_box {
    display: inline;
    align-items: center;
    padding-left: 50px;
    margin-top: 20px;
    margin-right: 70px;
    margin-left:70px;
    margin-bottom: 20px;
  
}

.definitions {
    margin-bottom: 50px;
}


.text_display {
    color:black;
}

.text_nodisplay {
    color:transparent;
}

.letter_input {
    max-width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: pink;
}

.letter_hidden {
    color: transparent;
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}

.letter_visible {
    color: black;
}

.gameButtonBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hintList{
    text-align: left;
}


